<div class="row vh-100 align-items-center">
    <div class="col-10 col-sm-6 col-md-6 col-lg-5 mx-auto ">
        <div class="shadow rounded-3 p-5 bg-white">
            <form>
                <h4 class="h4 mb-4">Login</h4>
                <div class="mb-4">
                    <label for="username">Username</label>
                    <input type="text" name="username" [(ngModel)]="username" class="form-control" id="username" placeholder="Enter your username">
                </div>
                <div class="mb-4">
                    <label for="password">Password</label>
                    <input type="password" name="password" [(ngModel)]="password" class="form-control" id="password" placeholder="Enter your password">
                </div>
                <div class="mb-4">
                    <button type="button" class="btn btn-info d-block w-100 text-center rounded-5" (click)="login()">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>