<div class="floating-btn-container">
    <!-- <button data-bs-toggle="modal" data-bs-target="#exampleModal3"></button> -->
    <div class="floating-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img width="50" src="../../assets/images/phone.png">
    </div>
</div>

<!-- Modal -->
<div class="modal modal-md fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="exampleModalLabel">
                    Contact Us
                </h2>
                <button #closeBtn type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5 py-3">
                <form [formGroup]="userForm">
                    <div class="mb-3">
                        <input type="text" formControlName="name" class="form-control" placeholder="Enter your name" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" formControlName="email" class="form-control" placeholder="Enter your email" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" formControlName="phone" class="form-control" placeholder="Enter your phone number" required>
                    </div>
                    <div class="mb-3">
                        <textarea formControlName="message" class="form-control" placeholder="Your message" required></textarea>
                    </div>
                    <div>
                        <button #submitBtn (click)="submitForm()" type="button"
                            class="btn btn-success d-block mx-auto w-100">Submit</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>


<!-- Success Modal   -->
<button #hiddenBtn class="hiddenBtn" data-bs-toggle="modal" data-bs-target="#successModal"></button>

<div class="modal modal-md fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            
            <div class="modal-body">
                <div>
                    <div class="mb-4 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
                            fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                    </div>
                    <div class="text-center">
                        <h1>Thank You !</h1>
                        <p>We've send the link to your inbox. Lorem ipsum dolor sit, </p>
                        <button class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>