<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
        <button type="button" class="btn-close text-reset bg-color-primary " data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="menu-links">
            <li><a href="#" [routerLink]="['/']" data-bs-dismiss="offcanvas">Home</a></li>
            <li><a href="#" data-bs-dismiss="offcanvas">About</a></li>
            <li><a href="#" data-bs-dismiss="offcanvas">Portfolio</a></li>
            <li><a href="#" [routerLink]="['/blogs']" data-bs-dismiss="offcanvas">Blogs</a></li>
            <li><a href="#" data-bs-dismiss="offcanvas">Contact Us</a></li>
        </ul>
    </div>
</div>