<footer class="footer">
    <div class="footer-container container">
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-5">
                <div class="d-flex justify-content-center">
                    <div class="tag-line text-white">
                        <h4>- Information</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cum vitae fugit est, eaque ea,
                        quod pariatur numquam!
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-5">
                <div class="d-flex justify-content-center">
                    <div class="footer-logo">
                        <a [routerLink]="['']">
                            <img src="../../../assets/images/logo-light.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="d-flex justify-content-center">
                    <div>
                        <!-- Begin social buttons -->
                        <div class="social-buttons">
                            <ul class="ps-0">
                                <li><a href="#" class="btn btn-primary btn-link" target="_blank"
                                        title="Follow us on facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="btn btn-primary btn-link" target="_blank"
                                        title="Follow us on twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="btn btn-primary btn-link" target="_blank"
                                        title="Follow us on dribbble"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#" class="btn btn-primary btn-link" target="_blank"
                                        title="Follow us on behance"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#" class="btn btn-primary btn-link" target="_blank"
                                        title="Follow us on linkedin"><i class="fa fa-linkedin-in"></i></a></li>
                                <li><a href="#" class="btn btn-primary btn-link" target="_blank"
                                        title="Follow us on youtube"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                        <!-- End social buttons -->
    
                        <!-- Begin subscribe form -->
                        <form id="footer-subscribe-form" class="form-btn-inside">
                            <div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control bg-transparent" placeholder="Subscribe. Enter your email address" aria-label="Subscribe. Enter your email address" aria-describedby="basic-addon2">
                                    <span class="input-group-text bg-color-primary border-0 cursor-pointer" id="basic-addon2">
                                        <i class="fa fa-envelope text-white"></i>
                                    </span>
                                  </div>
                            </div>
                        </form>
                        <!-- End subscribe form -->
    
                        <!-- Begin copyright -->
                        <div class="copyright">
                            Copyright 2023 / All rights reserved <br>
                        </div>
                        <!-- End copyright -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>