<section>
    <div class="portfolio-list-container">
        <div class="portfolio-grid">
            <div class="item grid-item-1" style="background-image: url(../../../assets/images/portfolio-2.jpg);background-position: center;">
            
            </div>
            <div class="item grid-item-2" style="background-image: url(../../../assets/images/portfolio-2.jpg);background-position: center;">

            </div>
            <div class="item grid-item-3" style="background-image: url(../../../assets/images/portfolio-2.jpg);background-position: center;">

            </div>
            <div class="item grid-item-4" style="background-image: url(../../../assets/images/portfolio-2.jpg);background-position: center;">

            </div>
            <div class="item grid-item-5" style="background-image: url(../../../assets/images/portfolio-2.jpg);background-position: center;">

            </div>
            <div class="item grid-item-6" style="background-image: url(../../../assets/images/portfolio-2.jpg);background-position: center;">

            </div>
            <div class="item grid-item-7" style="background-image: url(../../../assets/images/portfolio-2.jpg);background-position: center;">

            </div>
            <div class="item grid-item-8" style="background-image: url(../../../assets/images/portfolio-2.jpg);background-position: center;">

            </div>
            <div class="item grid-item-9" style="background-image: url(../../../assets/images/portfolio-2.jpg);background-position: center;">

            </div>
        </div>
    </div>
</section>